<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/Form.css" media="screen" type="text/css" />
    <title>Tableau de bord</title>
</head>
<body>
    <h2><center>Bienvenue dans votre tableau de bord</h2>
    <!-- Affiche ici les informations et fonctionnalités spécifiques à l'utilisateur -->
    <p>Utilisateur : {{ username }}</p>
    <p>Réunions :</p>
    <ul>
        {% for meeting in meetings %}
            <li>{{ meeting.title }}</li>
        {% endfor %}
    </ul>
    <a href="/logout">Se déconnecter</a>
</body>
</html>
