<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/Form.css" media="screen" type="text/css" />
    <title>Connexion</title>
</head>
<body>
    <h2><center>Connexion</h2>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <br><br>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <br><br>
        <input type="submit" value="Se connecter">
    </form>
</body>
</html>
